@import "tailwindcss";
@import "@repo/tailwind-config/theme.css";
@import "@repo/tailwind-config/animations.css";

@theme inline {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    max-width: 100vw;
    overflow-x: hidden;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}
